*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    padding: 1em;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400, 500, 600, 700;
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: small;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(bg-intro-desktop.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(0, 100%, 74%);
    padding: 10%;
    margin: 10%;
    color: white;
    font-family: "poppins", sans-serif;
}
.right{
    color: white;
    align-content: center;
    justify-content: center;
    margin: auto;
}
.right p {
    margin-top: 10px;
    font-size: small;
    
}
.trial{
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}
.trial p{
    margin:  auto;
    text-align: center;
    font-size: small;
    padding: 10px;
}
.form {
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    min-height: 2em;
}
.form input{
    border-radius: 5px;
    margin-top: 20px;
    width: 80%;
    min-height: 2em;
    margin-left: 30px;
}
.btn{
    border-radius: 5px;
    margin: 30px 30px;
    width: 80%;
    background-color: hsl(154, 59%, 51%);
} 
.tc-text{
    color: gray;
    font-size: xx-small;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
}
span{
    color: red;
}

/* Media Queries */

@media screen and (max-width: 375px) {
 main{
        display: grid;
        grid-template-columns:none;
        margin:none;
    }
.right{
        text-align: center;
}
    
}